python==3.9
allennlp==0.8.4
torch
transformers
datasets
accelerate
overrides
wandb
huggingface_hub
ai2-olmo

# wandb login
# pip install -U "huggingface_hub[cli]"
# huggingface-cli login

python==3.9
allennlp-light
torch
transformers
tokenizers
datasets
accelerate
overrides
wandb
# wandb login
# pip install -U "huggingface_hub[cli]"
# huggingface-cli login
# git clone https://github.com/allenai/OLMo.git
# cd OLMo
# pip install -e .[all]